//颜色定义规范
$color-background-green = #5FBC65
$color-background-green-s = #72bb00
$color-background-red = #fa3e2d
$color-background-hot = #fe332f
$color-background-bule = #5CA7FF
$color-background-orange = #FF6C57
$color-background-orange-s = #ffa800
 $color-background-other = #5CA7D4
$color-text-white = #fff
$color-text-red = #ff5757
$color-text-blue = #16a9ff
$color-text-gray = #999
$color-text-green = #39ac69
$color-text-nav = #555
$color-text-theme = #333
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 14px
$font-size-title = 16px
$font-size-large = 18px
$font-size-icon = 20px
$font-size-large-x = 22px
